spring:
  application:
    name: bank

  datasource:
    url: jdbc:h2:mem:bank
    username: sa
    password:
    driverClassName: org.h2.Driver
  jpa:
      database-platform: org.hibernate.dialect.H2Dialect

  h2:
    console:
      enabled: true
      path: /h2-console

server:
  port: 8080